body{
	background-color: #d0f5fc;
	background-size: cover;
	height: 100%;
	width: 100%;
   
}
@media screen and (max-width: 720px) {
  .main{
    margin-top: 30% !important;

  }

}

body {
    opacity: 1;
    transition: 1.4s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}